/* general css */
*{
    padding:0;
    margin:0;
}

body{
    background:#092B40;
    color:white;
}

a:hover{
    text-decoration: none;
}

/* app title */
.app-title{
    margin-top:20px;
}

.app-title h1, .app-title p{
    text-align:center;
}

/* search box */
.search-box{
    margin-top:20px;
}

/* random article */
.rand-article{
    color:lightblue;
    margin-top:10px;
    text-align:center;
    text-transform:lowercase;
}

.rand-article a{
    color:chartreuse;
}

.rand-article a:hover{
    color:lightslategray;
    text-decoration:none;
}

/* result */
#result{
    margin-top:20px;    
}

.result-box{
    padding:10px 20px;
    margin-bottom: 10px;
    background-color:#030d13;
    list-style: none;
}

/* footer */
#footer{
    margin:10px 0;
}

.footer-text{
    text-align: center;
}